
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Criado"]</h2>

<h3>Página About</h3>

<address>@ViewData["info"] : <a href="https://www.linkedin.com/in/luciano-melo-pereira-7a1b65239">Clique aqui</a></address>

